# @blockFrom:.gitignore
dist
node_modules
temp
tmp
*.temp.*
*.log
*.tsbuildinfo
.DS_Store
.docusaurus
.cache-loader
.attest
coverage
# we avoid committing the root pnpm-lock in order to keep the root of the repo as clean as possible.
# we can get away with this to since we're only installing devDependencies and they're all pinned.
/pnpm-lock.yaml
# this gets generated during certain integration tests, but we never want to actually check it in 
# (this can be removed in the future if we do need it) 
/.npmrc

# @blockEnd 

pnpm-lock.yaml

# this file triggers a bug that always formats it
# https://github.com/prettier/prettier/issues/14764
../arktype.io/docs/api/narrow.md
../arktype.io/versioned_docs/**/api/narrow.md
