# as of 3.0, prettier ignores .gitignored files by default, so they don't need to be included here

pnpm-lock.yaml

# this file triggers a bug that always formats it
# https://github.com/prettier/prettier/issues/14764
../arktype.io/docs/api/narrow.md
../arktype.io/versioned_docs/**/api/narrow.md
