dist
out
*.vsix
node_modules
temp
tmp
*.temp.*
*.log
*.tsbuildinfo
.DS_Store
.docusaurus
.astro
.next
.source
.cache-loader
.attest
coverage
# we avoid committing the root pnpm-lock in order to keep the root of the repo as clean as possible.
# we can get away with this to since we're only installing devDependencies and they're all pinned.
/pnpm-lock.yaml
