# All of these options are documented at https://pnpm.io/

# Ensure installed packages are compatible with the oldest active LTS release
engine-strict=true
# This version added support for requiring "node:" scoped imports, which we use
node-version=14.18.0
# Pin dependency versions by default ("5.3.0" instead of "^5.3.0")
save-prefix=""
# Use a cross-platform shell emulator for package.json scripts
shell-emulator=true
