# Formatting ignores
# NOTE: This file is symlinked from .prettierignore to .eslintignore

#-------------------------------------------------------------------------------------------------------------------
# Keep this section in sync with .gitignore
#-------------------------------------------------------------------------------------------------------------------
dist
node_modules
temp
*.temp.*
*.log
*.tsbuildinfo
.DS_Store
.docusaurus
.cache-loader

#-------------------------------------------------------------------------------------------------------------------
# Formatter-specific overrides
#-------------------------------------------------------------------------------------------------------------------
pnpm-lock.yaml
# @re-/assert's cache
.reassert
