---
const slug = Astro.url.pathname || "";
---

<div class="wrap">
  <a href="/docs/types">
    <div class:list={["button", slug.startsWith("/docs") && "selected"]}>
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            fill-rule="evenodd"
            d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10m-8.512-5.554a.75.75 0 0 1 .53.918l-2.588 9.66a.75.75 0 0 1-1.449-.389l2.589-9.659a.75.75 0 0 1 .918-.53M14.97 8.47a.75.75 0 0 1 1.06 0l.209.208c.635.635 1.165 1.165 1.529 1.642c.384.504.654 1.036.654 1.68c0 .644-.27 1.176-.654 1.68c-.364.477-.894 1.007-1.53 1.642l-.208.208a.75.75 0 1 1-1.06-1.06l.171-.172c.682-.682 1.139-1.14 1.434-1.528c.283-.37.347-.586.347-.77c0-.184-.064-.4-.347-.77c-.295-.387-.752-.846-1.434-1.528l-.171-.172a.75.75 0 0 1 0-1.06m-7 0a.75.75 0 0 1 1.06 1.06l-.171.172c-.682.682-1.138 1.14-1.434 1.528c-.283.37-.346.586-.346.77c0 .184.063.4.346.77c.296.387.752.846 1.434 1.528l.172.172a.75.75 0 1 1-1.061 1.06l-.208-.208c-.636-.635-1.166-1.165-1.53-1.642c-.384-.504-.653-1.036-.653-1.68c0-.644.27-1.176.653-1.68c.364-.477.894-1.007 1.53-1.642z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="text">Ark</div>
    </div>
  </a>
  <a href="/attest/overview">
    <div class:list={["button", slug.startsWith("/attest") && "selected"]}>
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            fill-rule="evenodd"
            d="M3.464 3.464C2 4.93 2 7.286 2 12c0 4.714 0 7.071 1.464 8.535C4.93 22 7.286 22 12 22c4.714 0 7.071 0 8.535-1.465C22 19.072 22 16.714 22 12s0-7.071-1.465-8.536C19.072 2 16.714 2 12 2S4.929 2 3.464 3.464M13.75 10c0 .414.336.75.75.75h.69l-2.013 2.013a.25.25 0 0 1-.354 0l-1.586-1.586a1.75 1.75 0 0 0-2.474 0L6.47 13.47a.75.75 0 1 0 1.06 1.06l2.293-2.293a.25.25 0 0 1 .354 0l1.586 1.586a1.75 1.75 0 0 0 2.474 0l2.013-2.012v.689a.75.75 0 0 0 1.5 0V10a.75.75 0 0 0-.75-.75h-2.5a.75.75 0 0 0-.75.75"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <div class="text">Attest</div>
    </div>
  </a>
  <div class="fadeout"></div>
</div>

<style>
  html[class~="dark"] .wrap {
    background-color: #111111;
  }

  .wrap {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 22px 16px 16px 24px;
    background-color: #ffffff;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  html[class~="dark"] .selected .text {
    color: rgb(0, 138, 230);
  }

  html[class~="dark"] .selected .icon {
    background-color: #102a4c;
    color: #96c7f2;
    fill: #006adc;
  }

  html[class~="dark"] .text {
    color: #737373;
  }

  html[class~="dark"] .icon {
    color: #737373;
    fill: #424242;
  }

  html[class~="dark"] .button:not(.selected):hover .text {
    color: rgb(249, 250, 251);
  }

  html[class~="dark"] .button:not(.selected):hover .icon {
    color: #f9fafb;
    fill: #b3b4b5;
  }

  .selected .text {
    color: rgb(0, 98, 163);
  }

  .icon {
    width: 32px;
    height: 32px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #737373;
    fill: #b9b9b9;
    transition-property: color, background-color, border-color, fill;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon svg {
    width: 24px;
    height: 24px;
  }

  .selected .icon {
    color: #006adc;
    fill: #a1c6ee;
    background-color: #e1f0ff;
  }

  .text {
    font-weight: 600;
    color: rgb(107, 114, 128);
    transition-property: color;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:not(.selected):hover .text {
    color: rgba(17, 24, 39);
  }

  html.dark .new-tag {
    color: rgb(0, 138, 230);
  }

  .new-tag {
    color: #006adc;
    margin-bottom: -2px;
  }

  .new-tag svg {
    width: 30px;
    height: 30px;
  }

  html[class~="dark"] .fadeout {
    background: linear-gradient(to bottom, #111111 0%, transparent 100%);
  }

  .fadeout {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    z-index: 12312312;
    height: 20px;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff 0%, transparent 100%);
    left: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 768px) {
    .wrap {
      padding: 22px 16px 16px 16px;
    }
  }
</style>
