/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");

:root {
    --ifm-font-family-base: Ubuntu, sans-serif;
}
.navbar__items {
    font-size: x-large;
}

.footer {
    background-color: #1b1b1b;
}

.footer--dark {
    background-color: #141414;
}

.navbar-github:hover {
    opacity: 0.6;
}

.navbar-github::before {
    content: "";
    width: 36px;
    height: 36px;
    display: flex;
    background: url("/img/github.svg");
}

[data-theme="dark"] .navbar-github::before {
    background: url("/img/githubDark.svg");
}

[class*="ToggleIcon"] {
    width: 36px;
    height: 36px;
}
