/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");

:root {
    --ifm-font-family-base: Raleway, sans-serif;
}

/* Equivalent to <Paper elevation={24}> in MUI */
.navbar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
        rgba(0, 0, 0, 0.14) 0px 24px 38px 3px,
        rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
}

.navbar__items {
    font-size: x-large;
}

.dropdown {
    padding: 0px;
}

.navbar-github:hover {
    opacity: 0.6;
}

.navbar-github::before {
    content: "";
    width: 36px;
    height: 36px;
    display: flex;
    background: url("/img/github.svg");
}

[data-theme="dark"] .navbar-github::before {
    background: url("/img/githubDark.svg");
}

[class*="ToggleIcon"] {
    width: 36px;
    height: 36px;
}

.footer {
    background-color: #085b92;
}

header {
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #085b92;
}

[data-theme="dark"] .navbar {
    background-color: #0d1117;
}

[data-theme="dark"] .main-wrapper {
    background-color: #0d1117;
}
