@font-face {
	font-family: "Cascadia Mono";
	src:
		local("Cascadia Mono"),
		url("https://fonts.cdnfonts.com/s/37910/CascadiaMono.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 207 100% 9%;
	--hover-glow: 0.5rem 0.5rem 2rem 0 rgba(31, 38, 135, 0.37);

	/* Based on ArkDark ErrorLens */
	--ark-green: #40decc;
	--ark-error: #9558f8;
	--ark-success: #40decca0;
	--ark-runtime-error: #f85858;

	/** @shikijs/twoslash/style-rich.css overrides */
	--twoslash-border-color: #ba7e4127;
	--twoslash-underline-color: currentColor;
	--twoslash-highlighted-border: #c37d0d50;
	--twoslash-highlighted-bg: #c37d0d20;
	--twoslash-popup-bg: transparent;
	--twoslash-popup-color: inherit;
	--twoslash-popup-shadow: var(--shadow);
	--twoslash-docs-color: #888;
	--twoslash-docs-font: sans-serif;
	--twoslash-code-font: inherit;
	--twoslash-code-font-size: 1em;
	--twoslash-matched-color: inherit;
	--twoslash-unmatched-color: #888;
	--twoslash-cursor-color: var(--sl-color-gray-2);
	--twoslash-error-color: var(--ark-error);
	--twoslash-error-bg: #9558f818;
	--twoslash-warn-color: #c37d0d;
	--twoslash-warn-bg: #c37d0d20;
	--twoslash-tag-color: #3772cf;
	--twoslash-tag-bg: #3772cf20;
	--twoslash-tag-warn-color: var(--twoslash-warn-color);
	--twoslash-tag-warn-bg: var(--twoslash-warn-bg);
	--twoslash-tag-annotate-color: #1ba673;
	--twoslash-tag-annotate-bg: #1ba67320;
}

@media (prefers-reduced-motion: no-preference) {
	* {
		scroll-behavior: smooth;
	}
}

pre,
code {
	font-family: "Cascadia Mono", monospace;
}

pre.shiki,
.twoslash-popup-container {
	border-radius: 1rem;
	border-color: #ba7e4127;
	border-width: 1px;
	overflow-x: visible !important;
}

.bg-fd-secondary\/50 {
	background-color: unset;
}

div.twoslash-popup-container {
	border-radius: 1rem;
	background: #001323aa;
	backdrop-filter: blur(8px);
	box-shadow: var(--hover-glow);
}

.error {
	position: relative;
	background-color: #f8585822;
	border-left: 3px solid var(--ark-runtime-error);
	padding: 4px;
	padding-right: 16px;
	margin: 0.2em 0;
	min-width: 100%;
	width: max-content;
}

.error > span {
	color: var(--ark-runtime-error) !important;
}

.twoslash .twoslash-error {
	/* Override the builtin error squiggle to match our theme */
	background: url("/image/errorSquiggle.svg") repeat-x bottom left;
}

.twoslash .twoslash-popup-code {
	white-space: pre;
}

/* avoid double padding + border */
/* matches popups rendered from react (on the home page) */
.shiki .shiki,
/* matches popups rendered from mdx (on most docs pages) */ 
.twoslash-popup-container pre.p-4 {
	padding: 0px;
	border-width: 0px;
}

/** display runtime errors on hover */
.twoslash .twoslash-popup-docs {
	color: var(--ark-runtime-error);
	font-size: small;
	white-space: pre;
}

/* Firefox specific rules */
@-moz-document url-prefix() {
	/* The backdrop-filter above doesn't work by default yet on Firefox so we do this instead  */
	.twoslash .twoslash-hover:hover .twoslash-popup-container {
		background: #001323ee;
	}
}
