@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");

:root {
	--sl-font: Raleway, sans-serif;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #4b3621;
	--sl-color-accent: #eb9f2e;
	--sl-color-accent-high: #f5cf8f;
	--sl-color-white: #fffff0;
	--sl-color-gray-1: #e0f0ff;
	--sl-color-gray-2: #a4c6e5;
	--sl-color-gray-3: #4b91cc;
	--sl-color-gray-4: #0a5c93;
	--sl-color-gray-5: #003b62;
	--sl-color-gray-6: #002946;
	--sl-color-black: #001a2f;
}
/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #f5cf8f;
	--sl-color-accent: #eb9f2e;
	--sl-color-accent-high: #4b3621;
	--sl-color-white: #001a2f;
	--sl-color-gray-1: #002946;
	--sl-color-gray-2: #003b62;
	--sl-color-gray-3: #0a5c93;
	--sl-color-gray-4: #4b91cc;
	--sl-color-gray-5: #a4c6e5;
	--sl-color-gray-6: #e0f0ff;
	--sl-color-gray-7: #eff7ff;
	--sl-color-black: #fffff0;
}

header {
	backdrop-filter: blur(8px);
	box-shadow:
		rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
		rgba(0, 0, 0, 0.14) 0px 24px 38px 3px,
		rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
}

h1 {
	font-weight: 400;
}

.header {
	background-color: transparent;
}

header * {
	/* Ensure navbar items are in front of boat animation but slightly transparent */
	z-index: 12;
}

/* cascadiaCodeFamily = `"Cascadia Code", sans-serif`

// // Consider #0bda96 as an accent color?

// 		createTheme({
// 			palette: {
// 				primary: {
// 					dark: "#085b92",
// 					light: "#80cff8",
// 					main: "#009eff"
// 				},
// 				secondary: {
// 					main: "#eb9f2e",
// 					dark: "#4b3621",
// 					light: "#f5cf8f"
// 				},
// 				common: {
// 					white: "#fffff0",
// 					black: "#1b1b1b"
// 				}
// 			},
// 			typography: {
// 				fontFamily: "'Raleway', sans-serif"
// 			}
// 	) */

/* .navbar__brand:hover,
.clean-btn:hover,
.navbar__item:hover {
	scale: 1.1;
	transition: all 0.2s ease-out;
} */
/* 

.installationTabs {
	overflow: hidden;
	height: 2.5rem;
	margin-top: -1.5rem;
}

.npmTab {
	--ifm-tabs-color-active: #ff3939;
	--ifm-tabs-color-active-border: #ff3939;
}

.pnpmTab {
	--ifm-tabs-color-active: #f69220;
	--ifm-tabs-color-active-border: #f69220;
}

.yarnTab {
	--ifm-tabs-color-active: #6fd3ff;
	--ifm-tabs-color-active-border: #6fd3ff;
}

.theme-code-block {
	--prism-background-color: #1b1b1baa;
	--ifm-pre-padding: 0.5rem;
}

.inferable-code {
	position: relative;
	border-radius: 0.5rem;
	background: #fffff0;
}

.inferable-code .theme-code-block {
	--prism-background-color: linear-gradient(
		to top right,
		#0d1117ff,
		#0d1117dd
	) !important;
}

.inferable-code img {
	display: none;
}

.inferable-code:hover img {
	display: block;
	position: absolute;
	bottom: 0px;
	right: 1rem;
} */
