name: Validate build

on:
    pull_request:
        branches: [master]

jobs:
    build:
        strategy:
            matrix:
                node-version: [14.x]
                os: [ubuntu-latest, windows-latest, macOS-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
            - run: node common/scripts/install-run-rush.js change -v
            - run: node common/scripts/install-run-rush.js install --no-link
            - run: node common/scripts/install-run-rush.js link
            - run: node common/scripts/install-run-rush.js rebuild --verbose
            - run: npx playwright install-deps
            - run: node common/scripts/install-run-rush.js test
            - name: Create electron release
              working-directory: pkgs/app
              run: node ../../common/scripts/install-run-rushx.js dryRun
            - uses: ncipollo/release-action@v1
              with:
                  allowUpdates: true
                  draft: true
                  artifacts: "pkgs/app/release/*.zip"
                  token: ${{ secrets.GITHUB_TOKEN }}
