name: Validate build

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        strategy:
            matrix:
                node-version: [14.x]
                os: [ubuntu-latest, windows-latest, macOS-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
            - run: node common/scripts/install-run-rush.js change -v
            - run: node common/scripts/install-run-rush.js install
            - run: node common/scripts/install-run-rush.js build
            - run: npx playwright install-deps
            - run: node common/scripts/install-run-rush.js test
